.navBar {
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin-top: 27px;
	font-weight: bold;
	font-size: 15px;
}

a:-webkit-any-link {
	cursor: pointer;
	text-decoration: none;
	color: black;
	padding-left: 12px;
}
.fade {
	color: rgba(0, 0, 0, 40%);
}
#content {
	width: 535px;
	margin: auto;
	line-height: 1.8;
	font-family: "Times New Roman", serif;
}
hr {
	height: 0.5px;
	background-color: black;
}
