<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>Sample Layout</title>
		<link rel="stylesheet" href="styles.css" />
	</head>
	<body>
		<aside>
			<header>
				<img id="logo" src="images/logo.png" alt="" />
				<div>
					<div style="font-size: 1.3em">ChemDash</div>
					<div style="font-size: 0.7em">Pro+</div>
				</div>
				<nav></nav>
			</header>
			<div class="button">
				<img src="images/haburgerButton.png" alt="" />
				<span>Mesurement</span>
			</div>
			<div class="button active">
				<img src="images/haburgerButton.png" alt="" />
				<span>Reports</span>
			</div>
			<div class="button">
				<img src="images/haburgerButton.png" alt="" />
				<span>Devices</span>
			</div>
			<div class="button">
				<img src="images/haburgerButton.png" alt="" />
				<span>Device users</span>
			</div>
		</aside>
		<main>
			<header>
				<div id="pageTitle">Wecome, Radu</div>
				<div class="button2">
					<img src="images/haburgerButton.png" alt="" />
					<img src="images/haburgerButton.png" alt="" />
					<img src="images/haburgerButton.png" alt="" />
					<img src="images/haburgerButton.png" alt="" />
				</div>
			</header>
			<div class="pages">
				<div style="display: flex" class="page active">
					<div class="button">
						<img src="images/haburgerButton.png" alt="" />
						<img src="images/haburgerButton.png" alt="" />
						<img src="images/haburgerButton.png" alt="" />
						<img src="images/haburgerButton.png" alt="" />
					</div>
					<table border="3" style="border-collapse: collapse">
						<thead>
							<tr>
								<th><input type="checkbox" /></th>
								<th><img src="" alt="" /></th>
								<th>Name</th>

								<th>device</th>
								<th>serial number</th>
								<th>version</th>
								<th></th>
							</tr>
						</thead>
						<tbody>
							<td></td>
							<td></td>
							<td></td>
							<td></td>
							<td></td>
							<td></td>
							<td></td>
						</tbody>
						<tfoot></tfoot>
					</table>
				</div>
				<div class="page"></div>
				<div class="page"></div>
				<div class="page"></div>
			</div>
		</main>
	</body>
</html>
